/* body {
  margin: 0;
  padding: 0;
  overflow: hidden; 
} */

.page-container {
  height: 100vh; /* full page height */
  display: flex;
  flex-direction: column;
}

.top-section {
  padding: 20px;
  background: #eee;
  flex-shrink: 0; /* height fixed by content */
}

.scroll-section {
  overflow-y: auto;      /* only this div scroll */
  padding: 20px;
  background: #f9f9f9;
  flex-grow: 1;          /* remaining space occupy pannum */
}
