/* NAVBAR WRAPPER */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  padding: 18px 30px;

  background: rgba(15, 15, 15, 0.8);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.4);

  position: sticky;
  top: 0;
  z-index: 99;
}

/* LEFT TITLE */
.nav-title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

/* LINKS CONTAINER */
.nav-links {
  display: flex;
  gap: 18px;
}

/* LINKS */
.nav-links a {
  text-decoration: none;
  color: #e5e5e5;

  padding: 10px 16px;
  border-radius: 10px;

  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.3px;

  transition: 0.25s ease-in-out;
  background: rgba(255, 255, 255, 0.05);
}

/* HOVER EFFECT */
.nav-links a:hover {
  background: rgba(99, 102, 241, 0.25);
  color: #ffffff;
  transform: translateY(-2px);
  box-shadow: 0 0 12px rgba(99, 102, 241, 0.5);
}

/* ACTIVE ROUTE */
.nav-links a.active {
  background: linear-gradient(135deg, #6366f1, #4f46e5);
  color: #fff;
  box-shadow: 0 0 15px rgba(99, 102, 241, 0.8);
  transform: translateY(-2px);
}


/* HAMBURGER ICON (HIDDEN IN DESKTOP) */
.hamburger {
  width: 28px;
  height: 22px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger span {
  width: 100%;
  height: 3px;
  background: white;
  border-radius: 3px;
}

/* MOBILE STYLES */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    flex-direction: column;
    background: rgba(15, 15, 15, 0.95);
    padding: 25px 0;
    gap: 12px;
    align-items: center;

    /* HIDDEN BY DEFAULT */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  

  /* WHEN OPEN */
  .nav-links.open {
display: flex;
max-height: 400px;
  }

  .hamburger {
    display: flex;
  }
}
